<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="estilos.css">
  <title>Document</title>
</head>

<body>
  <h1>Bienvenido al Gran Juego de los Números</h1>
  <h3>Yo estoy pensando en un número del 1 al 100</h3>
  <h3>Adivina!!</h3>

  <%if(mensaje){%>
    <%=mensaje%>
      <%}%>


        <br>

        <form action="/jugar" method="POST">
          <input required name="numero" type="number">
          <br>
          <br>
          <input type="submit" value="Jugar!">
        </form>

</body>

</html>